<nav>
  <div>
    <div class="left">
      <!-- <div class="switch">
        <input
          id="language-toggle"
          class="check-toggle check-toggle-round-flat"
          type="checkbox"
          (change)="onToggleChange($event)"
        />
        <label for="language-toggle">
          <span class="text en">EN</span>
          <span class="text de">DE</span>
        </label>
      </div> -->
      <div>
        <input
          id="language-toggle"
          class="check-toggle"
          type="checkbox"
          (change)="onToggleChange($event)"
        />
        <label for="language-toggle"> 
          <span class="lang en">EN</span>
          <span class="lang de">DE</span>
        </label>
      </div>

      <a href="#about-me">{{ "link1" | translate }}</a>
      <a href="#skill-set">{{ "link2" | translate }}</a>
      <a href="#projects">{{ "link3" | translate }}</a>
    </div>
    <div class="right">
      <div
        class="hamburger-icon d-none"
        (click)="toggleMenu()"
        (click)="stopPropagation($event)"
      >
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <div [ngClass]="{ 'd-none': !isMenuOpen }" class="hamburger-menu">
        <a href="#about-me">{{ "link1" | translate }}</a>
        <a href="#skill-set">{{ "link2" | translate }}</a>
        <a href="#projects">{{ "link3" | translate }}</a>
      </div>
      <img src="assets/img/2-removebg-preview.png" alt="" />
    </div>
  </div>
</nav>
