<div class="single-project-overlay active" (click)="closePopup()">
  <div class="content" (click)="$event.stopPropagation()">
    <div>
      <span>{{ project.name }}</span>
      <!-- <p>{{ project.description }}</p> -->
      <div>
        <button>GitHub</button>
        <button>Live Test</button>
      </div>
    </div>
    <div>
      <button><img src="assets/img/featured-projects/closeBtn.svg" alt="closeBtn" (click)="closePopup()"></button>
      
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <button>Next project</button>
    </div>
  </div>
</div>
