<p>project-pop-up works!</p>

<div class="single-project-overlay">
  <div class="content">
      <div>
        
        <!-- für index -->
      <span>01</span>

      <!-- name -->
      <span>name</span>
      <span>What is this project about</span>

      <!-- beschreibung des projekts -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fugit
        ratione iste cupiditate nisi!
      </p>

      <!-- icons mit name -->
      <div>icons with name</div>
      <div>
        <button>GitHub</button>
        <button>Live Test</button>
      </div>
    </div>
    <div>
      <span class="close-btn" id="closePopup">&times;</span>
      <img src="" alt="" />
      <button>Next project</button>
    </div>
  </div>
</div>
