<div class="sc2-about-me">
  <div class="left">
    <img
      class="image"
      src="assets/img/about-me/location_on.svg"
      alt=""
    />
  </div>
  <div class="align-right">
    <h3>{{ "who" | translate }}</h3>
    <div class="right">
      <h2>{{ "link1" | translate }}</h2>

      <p>
        {{ "p1" | translate }}
      </p>
      <div>
        <img src="assets/img/about-me/location_on.svg" alt="" />
        <p>
          {{ "p2" | translate }}  
        </p>
      </div>
      <div>
        <img src="../../../assets/img/about-me/cognition.svg" alt="" />
        <p>
          {{ "p3" | translate }}  
        </p>
      </div>
      <div>
        <img src="../../../assets/img/about-me/new_releases.svg" alt="" />
        <p>
          {{ "p4" | translate }}  
        </p>
      </div>
    </div>
  </div>
</div>
