@import "../../../styles.scss";

.sc2-about-me {
  background-color: $main-background;
  padding: 50px 0 50px 0;
  width: $main-width;
  max-width: $main-max-width;
//   padding: $main-padding;
  @include dFlex($jc: center, $g: 80px);

  .left {
    @include customShadow();
    width: 35%;
    margin-bottom: 8%;

    .image {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 40px;
    }
  }
.align-right{
  width: 32%;
  margin-top: 8%;

  .right {
    background-color: rgb(31, 46, 43);
    padding:  5%;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    @include dFlex($jc: flex-start, $ai: flex-start);
    flex-direction: column;
    border: 1px solid $main-color2;
    >p{
      font-family: 'Karla';
      font-size: 1.1rem;
      margin-bottom: 5%;

    }
    
    > div {
      @include dFlex($g: 4%, $ai: flex-start);
      >p{
        font-family: 'Karla';
        font-size: 1.1rem;
        margin: 0 0 12px 0;
      }
      > img {
        margin-top: 4px;
        height: 35px;
      }
    }
   
  }

}
}


