<div class="sc2-about-me">
  <div class="left custom-shadow">
    <img class="image" src="../../../assets/img/about-me/place-holder.png" alt="" />
  </div>
  <div class="right">
    <h2>About me</h2>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio,
      commodi tempora illo repellendus voluptates error fugiat quisquam
      praesentium totam corrupti dolores atque, necessitatibus hic iste ex
      voluptas architecto corporis qui.
    </p>
    <div>
      <img src="../../../assets/img/about-me/location_on.svg" alt="" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio,
        commodi tempora illo repellendus voluptates error fugiat quisquaZ  
      </p>
    </div>
    <div>
        <img src="../../../assets/img/about-me/cognition.svg" alt="" />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio,
          commodi tempora illo repellendus voluptates error fugiat quisquaZ  
        </p>
      </div>
      <div>
        <img src="../../../assets/img/about-me/new_releases.svg" alt="" />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio,
          commodi tempora illo repellendus voluptates error fugiat quisquaZ  
        </p>
      </div>
  </div>
</div>
