@import "../../../styles.scss";

.sc4-featured-p {
  padding: $main-padding;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 70vh;
  .headline{
    .line{
        height: 1px;
        width: 70%;
        background-color: $main-color2;
    }
  }
}
