<div class="sc4-featured-p">

  
  <app-project-pop-up [service]="service"></app-project-pop-up>


  <div class="headline">
    <h3>Portfolio</h3>
    <h2>Featured Projects</h2>
    <p>
      Explore a selection of my work here - Interact with <br />
      projects to see my skills in action.
    </p>
    <div class="line"></div>
  </div>
  <div class="project-section">
    @for(project of service.projects; track $index){

        <app-single-project [project]="project"></app-single-project>
    }
  </div>
</div>
