@import '../../../styles.scss';



.contact-me-div{
    background-color: $main-background;
    @include dFlex($jc: space-around);
    .left{
        width: 40%;
        max-width: 800px;
    }
    .right{
        width: 40%;
        max-width: 800px;
        .line{
            height: 1px;
            width: 100%;
            background-color: $main-color2;
        }
    }
}