@import "../../../styles.scss";

.sc3-skill-set {
  background-color: $main-background;
  @include dFlex($jc: space-around);
}
.align-skill-set {
  width: 32%;
  .skill-set {
    background-color: $main-color3;
    padding: 5%;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    @include dFlex($ai: flex-start, $jc: flex-start);
    flex-direction: column;
    border: 1px solid $main-color2;
    > p {
      font-family: "Karla";
      font-size: 1.1rem;
      text-align: justify;
      hyphens: auto;
    }
    > h4 {
      margin: 4% 0 3% 0;
      font-family: "Karla";
      font-size: 1.5rem;
      
      > span {
        color: $main-color2;
      }
    }
    >button{
      margin-top: 4%;
    }
  }
}

.icon-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(104px, 100%), 1fr));
  gap: 20px;

  .single-icon {
    @include dFlex();
    flex-direction: column;
    > img {
      width: 50px;
      height: 50px;
      padding-bottom: 4px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    > span {
      text-align: center;
      transition: color 0.1s ease-in-out;
    }

    &:last-child {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $main-color2;
      }
    }
  }
}


@media (max-width: 960px) {
  .icon-container{
    max-width: 400px;
    gap: 10px;
  }
  .align-skill-set {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .sc3-skill-set {
    background-color: $main-background;
    @include dFlex();
    flex-direction: column;
  }
  .icon-container{
    max-width: 500px;
    gap: 10px;
  }
  .align-skill-set {
    width: auto;
    max-width: 400px;
    margin-bottom: 50px;
  }
}
@media (max-width: 520px) {
  
  .icon-container{
    max-width: 400px;
    gap: 0;
  }
  .align-skill-set {
    width: 80%;
    max-width: 80%;
 
  }
}
@media (max-width: 420px) {
  
  .icon-container{
    max-width: 300px;
    gap: 10px;
  }
  .align-skill-set {
    width: 80%;
    max-width: 80%;
    margin-bottom: 20px;
  }
}