@import "../../../styles.scss";

.sc3-skill-set {
  background-color: $main-background;
  @include dFlex($jc: space-around);
}
.align-skill-set {
  width: 32%;
  .skill-set {
    background-color: $main-color3;
    padding: 5%;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    @include dFlex($ai: flex-start, $jc: flex-start);
    flex-direction: column;
    border: 1px solid $main-color2;
    > p {
      font-family: "Karla";
      font-size: 1.1rem;
      text-align: justify;
    }
    > h4 {
      margin: 4% 0 3% 0;
      font-family: "Karla";
      font-size: 1.5rem;
      
      > span {
        color: $main-color2;
      }
    }
    >button{
      margin-top: 4%;
    }
  }
}

.icon-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .single-icon {
    @include dFlex();
    flex-direction: column;
    > img {
      width: 50px;
      height: 50px;
      padding-bottom: 4px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    > span {
      text-align: center;
      transition: color 0.1s ease-in-out;
    }

    &:last-child {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $main-color2;
      }
    }
  }
}
