@import '../../../../styles.scss';

footer {
    height: 124px;
  
    padding: $main-padding;
    @include dFlex($jc: space-between);
    flex: 1;

    .left{
    @include dFlex($jc: space-between, $ai: flex-start, $g: 8px);
        flex-direction: column;
    }
    .middle{
        color: $main-color2;
    }
    .right{
        @include dFlex($jc: space-between, $ai: flex-start);
        flex-direction: column;
        @include linkDot( $hover-color: $main-color2 );
    }
}