
<footer>
    <div class="left">
        <div class="logo">
            <button (click)="navigateWithOffset('hero', 100)">
              <img class="logo1" src="assets/img/logo/logo1-green.png" alt="logo1-green" />
              <img class="logo1 hide" src="assets/img/logo/logo2-white.png" alt="logo2-white" />
              <img class="logo2" src="assets/img/logo/logo1-white.png" alt="logo2-white" />
              <img class="logo2 hide" src="assets/img/logo/logo2-green.png" alt="logo2-green" />
            </button>
          </div>
        <span>Web Developer</span>
        <span>Frankfurt Germany</span>
    </div>
    <div class="middle">&#169; Sebastian Rothe 2024</div>
    <div class="right">
        <a href="https://github.com/Sebastian-Rothe" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/sebastian-rothe-a5b649335/" target="_blank">LinkedIn</a>
        <a href="mailto:mail@sebastian-rothe.com">Email</a>
        <a href="imprint">{{ "imprint-1" | translate }}</a>
        <a href="privacy-policy">{{ "imprint-2" | translate }}</a>
    </div>
</footer>