@import '../../../../styles.scss';

footer {
    height: 10vh;
    padding: $main-padding;
    @include dFlex($jc: space-between);

    .left{
    @include dFlex($jc: space-between, $ai: flex-start, $g: 8px);
        flex-direction: column;
    }
    .right{
        @include dFlex($jc: space-between, $ai: flex-start);
        flex-direction: column;
    }
}