@import '../../../../styles.scss';

footer {
    height: 184px;
  
    padding: $main-padding;
    @include dFlex($jc: space-between);
    flex: 1;

    .left{
      width: 258px;
        .logo{
            >button{
    
              display: flex;
              .logo2{
                display: none;
              }
              &:hover{
                .logo1{
                  display: none;
                }
                .logo2{
                  display: block;
                }
              }
            }
          }
    @include dFlex($jc: space-between, $ai: flex-start, $g: 8px);
        flex-direction: column;
    }
    .middle{
        color: $main-color2;
    }
    .right{
        @include dFlex($jc: space-between, $ai: flex-start);
        flex-direction: column;
        @include linkDot( $hover-color: $main-color2 );
    }
}
@media (max-width: 800px) {
    .logo{
        >button{
            .hide{
                display: none !important;
            }
          display: flex;
          .logo2{
            display: none;
          }
          &:hover{
            .logo1{
              display: none;
            }
            .logo2{
              display: block;
            }
          }
        }
      }
}