
<div class="banner-container">
   
    <ngx-fast-marquee 
      class="--floating-center --rotate"
      style="--_rotation-deg: -3.5deg"
      speed="medium" 
      [maskPercentage]="5"
      direction="left"
    >
      <div class="item --bold --box">
        Available for remote work
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Frontend Developer
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Based in Frankfurt (FFM)
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Open to work
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Available for remote work
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Frontend Developer
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Based in Frankfurt (FFM)
        <div class="dot"></div>
      </div>
      <div class="item --bold --box">
        Open to work
        <div class="dot"></div>
      </div>
    </ngx-fast-marquee>
</div>
<!-- <div class="banner-container">
  <div class="banner">
    @for(item of banner; track item) {
    <div class="banner-item">
      <span>{{ item }}</span>
      <div class="dot"></div>
    </div>

    } @for(item of banner; track item; let index = $index) {
        @if(index < 3){
            <div class="banner-item">
              <span>{{ item }}</span>
              <div class="dot"></div>
            </div>
        }@else{
            <div class="banner-item">
                <span>{{ item }}</span>
                <div class="dot"></div>
              </div>
        }
    }
  </div>
</div> -->
