@import "../../../../styles.scss";

nav {
  padding: $main-padding;
  background: transparent;
  height: 12%;
  @include dFlex();
  > div {
    width: $main-width;
    @include dFlex($jc: space-between);

    .left {
      width: 36%;
      @include dFlex($jc: space-between, $g: 5%);

      @include linkDot(50%, -8px);
    }
    .right {
      > img {
        height: 80px;
      }
    }
  }
}
