@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/fira-code-v22-latin/fira-code-v22-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$main-color: white;
$main-color2: #3dcfb6;
$main-color3: rgb(31, 46, 43);

$main-width: 100%;
$main-max-width: 1920px;
$main-padding: 0 4%;

button,
a, input, textarea {
  text-decoration: none;
  color: $main-color;
  background: transparent;
  border: none;
  cursor: pointer;
}

.d-none {
  display: none;
}

.slide-button{
    // cursor: pointer;
    color: $main-color;
    height: 48px;
    width: 107px;
    border-radius: 100px;
    border: 1px solid $main-color;
    background: transparent;
    overflow: hidden;

    &:hover {
        color: $main-color2;
        border: 1px solid $main-color2;

        > span {
            animation: SlideLeft 3s infinite linear; // Animation hier anpassen
        }
    }

    > span {
        display: inline-block; // Notwendig, damit die Animation funktioniert
        position: relative; // Damit die Animation funktioniert
        white-space: nowrap;
    }
}

@keyframes SlideLeft {
    0% {
        transform: translateX(0); // Start in der Mitte
    }
    50% {
        transform: translateX(-200%); // Text kommt von rechts wieder herein
    }
    100%{
        transform: translateX(-200%);
    }
}



@mixin linkDot($positionX: -16px, $positionY: 25%, $hover-color: white) {
  > a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $main-color2;
      border-radius: 50%;
      left: $positionX;
      bottom: $positionY;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
    &:hover{
        color: $hover-color;
    }
  }
}

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

body {
  margin: 0;
  background-color: black;
  color: $main-color;
  font-family: "Fira Code";
}
