<div class="sc1-hero">

  <div class="hero">
    <div class="left">
      <div class="arrow-container">
        <img src="assets/img/hero/Vector 8.svg" alt="" />
      </div>
      <div class="line"></div>
    </div>

    <div class="center">
      <span>{{'subtitle' | translate}}</span>
    
      <h1>Sebastian Rothe</h1>
      <div class="button-div">
        <button class="slide-button"><span class="button-text">Check my work</span>
          </button>
        <button class="slide-button"><span class="button-text">Contact me</span>
          </button>
      </div>
    </div>

    <div class="right">
      <span href="" class="align-mail">mynewemailaagmail.com</span>
      <!-- hier muss ich mit dem href villiecht aufpassen!!!  -->
      <a href=""><img src="assets/img/hero/Github.svg" alt="Link Github" /></a>
      <a href=""
        ><img src="assets/img/hero/Linkedin.svg" alt="Link LinkedIn"
      /></a>
      <div class="line"></div>
    </div>
  </div>
  <app-banner></app-banner>
</div>
