@import '../../../styles.scss';

.sc1-hero {
    width: 100vh;  // 100%
    background-image: linear-gradient(to top right, black, rgb(11, 64, 55));
    background-size: cover;
    background-position: center;
    height: 100vh;

    .hero{
        height: calc(100vh - 10%);
        @include dFlex();

        .center{
            @include dFlex();
            flex-direction: column;
            >span{
                font-size: 2rem;
            }
            >h1{
                font-size: 4rem;
                margin-top: 3%;
            }
        }
    }
}

 

