<div class="sc1-hero">
  <div class="hero">
    <div class="left">
      <div class="arrow-container">
        <a href="#about-me"
          ><img src="assets/img/hero/Vector 8.svg" alt="arrow"
        /></a>
      </div>
      <div class="line"></div>
    </div>

    <div class="center">
      <span>{{ "subtitle" | translate }}</span>

      <h1>Sebastian Rothe</h1>
      <div class="button-div">
        <a href="#projects" class="slide-link"
          ><button class="slide-button">
            <span class="slide-text">{{ "button1" | translate }}</span>
          </button>
        </a>

        <a href="#contact" class="slide-link"
          ><button class="slide-button">
            <span class="slide-text">{{ "button2" | translate }}</span>
          </button>
        </a>
      </div>
    </div>

    <div class="right">
      <a href="mailto:mail@sebastian-rothe.com" class="d-none"
        ><img src="assets/img/hero/mail.svg" alt="Mail Link"
      /></a>
      <a href="mailto:mail@sebastian-rothe.com" class="align-mail no-dot"
        >mail&#64;sebastian-rothe.com</a
      >

      <a href=""><img src="assets/img/hero/Github.svg" alt="Link Github" /></a>
      <a href=""
        ><img src="assets/img/hero/Linkedin.svg" alt="Link LinkedIn"
      /></a>
      <div class="line"></div>
    </div>
  </div>
  <app-banner></app-banner>
</div>
