<div class="sc1-hero">
  <div class="hero">
    <div class="left">
      <div class="arrow-container">
        <a href="#about-me"><img src="assets/img/hero/Vector 8.svg" alt="arrow" /></a>
      </div>
      <div class="line"></div>
    </div>

    <div class="center">
      <span>{{ "subtitle" | translate }}</span>

      <h1>Sebastian Rothe</h1>
      <div class="button-div">
        <button class="slide-button">
          <a href="#projects" class="button-text">{{ "button1" | translate }}</a>
        
        </button>
        <button class="slide-button">
          <a href="#contact" class="button-text">{{ "button2" | translate }}</a>
        </button>
      </div>
    </div>

    <div class="right">
      <a href="" class="d-none"
        ><img src="assets/img/hero/mail.svg" alt="Mail Link"
      /></a>
      <a href="mailto:sebi1995@gmx.at" class="align-mail no-dot">sebi1995&#64;gmx.at</a>

      <a href=""><img src="assets/img/hero/Github.svg" alt="Link Github" /></a>
      <a href=""
        ><img src="assets/img/hero/Linkedin.svg" alt="Link LinkedIn"
      /></a>
      <div class="line"></div>
    </div>
  </div>
  <app-banner></app-banner>
</div>
